<!DOCTYPE html>
<html>
  <head>
		<!-- Page Title -->
    <title>Log In Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
		
		<!-- CSS for Styling -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
		
		<!-- JavaScript for Interactivity -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

		<!-- ADDED JavaScript -->
    <script src="../javascripts/signUpScript.js"></script>
    
  </head>
  <body>
    <h1>What are you waiting for?</h1>
	<h2>Sign Up now to enjoy our service!</h2>
	<% if (errMess.err) { %>
		<h3 style="color: crimson"><%= errMess.err %></h3>
	<% } %>
	<p>We have 2 types of accounts available!<br>
	Regular Account: Able to look for care takers for your pet as well as take care of pets based on your stated availabilites<br>
	Full Time Account: A full time Care Taker (also able to engage in the service of other care takers)</t>
		<form id="html_form" action="signup" role="form" method="post">
			<div class="form-group">
				<label for="email">Email</label>
				<input class="form-control" id="email" name="email" placeholder="Enter email"> 
      		</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input class="form-control" id="password" name="password" placeholder="Enter password">
            </div>
            <div class="form-group">
				<label for="password2">Re-enter Password</label>
				<input class="form-control" id="password2" name="password2" placeholder="Re-enter password">
            </div>
            <div class="form-group">
				<label for="firstname">First Name</label>
				<input class="form-control" id="firstname" name="firstname" placeholder="Enter first name">
            </div>
            <div class="form-group">
				<label for="lastname">Last Name</label>
				<input class="form-control" id="lastname" name="lastname" placeholder="Enter last name">
            </div>
            <div class="form-group">
				<label for="address">Address</label>
				<input class="form-control" id="address" name="address" placeholder="Enter address">
			</div>
			<div class="form-group">
				<p>Select the type of Account you would like to create</p>
				<input type="radio" name="chooseone" value="ptcaretaker" checked><label for="ptcaretaker">  Regular Account</label><br>
				<input type="radio" name="chooseone" value="ftcaretaker"><label for="ftcaretaker">  Full Time Account</label><br>
			</div>
			
			<button type="submit" class="btn btn-primary">Sign Up</button>
        </form>
        <form method="get" action="../">
			<button style="margin-top: 10px;" type="submit" class="btn btn-primary" >Back</button>
		</form>

		<script>
			(function() {
				window.addEventListener('load', function() {
					var forms = [document.getElementById('html_form')];
					var validation = Array.prototype.filter.call(forms, function(form) {
						form.addEventListener('submit', check, false);
					});
				}, false);
			})();
		</script>
  </body>
</html>
